/*
 ██████  ███████ ███    ██ ███████ ██████   █████  ██
██       ██      ████   ██ ██      ██   ██ ██   ██ ██
██   ███ █████   ██ ██  ██ █████   ██████  ███████ ██
██    ██ ██      ██  ██ ██ ██      ██   ██ ██   ██ ██
 ██████  ███████ ██   ████ ███████ ██   ██ ██   ██ ███████
*/

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 80px;
    bottom: 0;
}

.body-div {
    background-color: #212322;
}

.navbar-brand {
    margin: 0;
    padding: 0;
}

.navbar-brand img {
    max-height: 100%;
}

hr {
    margin-top: 0;
}

main {
    min-height: calc(100% - 21.5rem);
}

form {
    float: left;
    margin: 1rem 30%;
    width: 40%;
}

.btn-center {
    text-align: center;
}

input[type="text"], input[type="password"], input[type="email"], textarea, select, label {
    padding: .2rem .5rem;
    width: 100%;
    margin-bottom: 1em;
}

.question label {
    margin-right: 3rem;
    width: auto;
}

button, input[type="submit"] {
    background-color: #1E3D5E;
    border: .2rem solid #0c0c0c;
    border-radius: 1rem;
    color: #0c0c0c;
    margin-top: 1rem;
    padding: .5rem 1rem;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
    margin: 0;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.formLink {
    margin-top: 2rem;
    width: 100%;
}

.formLink a:first-child {
    float: left;
}

.formLink a:nth-child(2) {
    float: right;
}

.navbar-nav > li > a.nav-a {
    color: #19BBBC;
}

#navDropdown {
    background-color: rgba(0, 0, 0, 0);
}

.navbar {
    margin-bottom: 0 !important;
}

/* Messages */
.info, .error {
    border-radius: 1rem 1rem 0 0;
    margin: auto;
    margin-top: 15%;
    padding: 3%;
    width: 30%;
}

.info {
    background-color: #66cc66;
}

.error {
    background-color: #ff3333;
}

.backgroundShadow {
    background-color: rgba(0, 0, 0, .5);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}

.messages {
    background-color: white;
    border-radius: 0 0 1rem 1rem;
    margin: auto;
    padding: 1% 3%;
    text-align: center;
    width: 30%;
}

.close_msg_btn {
    background-color: #ff4d4d;
    border: none;
    border-radius: 22px;
    color: white;
    cursor: pointer;
    margin: 7% 0 5% 0;
    padding: 3% 7%;
    text-align: center;
    text-decoration: none;
}

.close_msg_btn:hover {
    background-color: #ff3333;
}

.msg_icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*
███████ ██████  ██       █████  ███████ ██   ██     ██████   █████   ██████  ███████
██      ██   ██ ██      ██   ██ ██      ██   ██     ██   ██ ██   ██ ██       ██
███████ ██████  ██      ███████ ███████ ███████     ██████  ███████ ██   ███ █████
     ██ ██      ██      ██   ██      ██ ██   ██     ██      ██   ██ ██    ██ ██
███████ ██      ███████ ██   ██ ███████ ██   ██     ██      ██   ██  ██████  ███████
*/

.splash {
    background-color: #fdfdfd;
    display: block;
    height: auto;
    margin: 3em auto;
    max-width: 400px;
    text-align: center;
    width: 100%;
}

.btn {
    font-size: 2rem;
    margin: 1rem 0;
}

.btn-sign {
    background-color: #19BBBC;
    color: #fdfdfd;
}

/*
██████   █████  ███████ ██   ██ ██████   ██████   █████  ██████  ██████
██   ██ ██   ██ ██      ██   ██ ██   ██ ██    ██ ██   ██ ██   ██ ██   ██
██   ██ ███████ ███████ ███████ ██████  ██    ██ ███████ ██████  ██   ██
██   ██ ██   ██      ██ ██   ██ ██   ██ ██    ██ ██   ██ ██   ██ ██   ██
██████  ██   ██ ███████ ██   ██ ██████   ██████  ██   ██ ██   ██ ██████
*/

.material-box {
    background-color: rgb(237, 239, 240);
    border-radius: 4px;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
    color: rgb(87, 99, 102);
    margin: 30px 0;
    padding: 30px;
}


.reference {
    background-color: white;
}

.reference h1, .reference h2, .reference h3, .reference h4, .reference h5, .reference h6 {
    color: #19BBBC;
}

.reference-content {
    padding: 0 10rem;
}

@media (max-width: 768px) {
    .material-box {
        margin: 15px 0;
    }

    .reference-content {
        margin: 0 auto;
        padding: 0;
    }
}

/*
██████  ███████ ███████ ███████ ██████  ███████ ███    ██  ██████ ███████
██   ██ ██      ██      ██      ██   ██ ██      ████   ██ ██      ██
██████  █████   █████   █████   ██████  █████   ██ ██  ██ ██      █████
██   ██ ██      ██      ██      ██   ██ ██      ██  ██ ██ ██      ██
██   ██ ███████ ██      ███████ ██   ██ ███████ ██   ████  ██████ ███████
*/

/* CODE IS ATTRIBUTED TO CLAUDIA ROMANO at https://codyhouse.co/gem/back-to-top/ */
.cd-top {
    background: rgba(87, 89, 102, 0.8) url(./cd-top-arrow.svg) no-repeat center 50%;
    bottom: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    display: inline-block;
    height: 40px;
    opacity: 0;
    overflow: hidden;
    /* image replacement properties */
    position: fixed;
    right: 10px;
    text-indent: 100%;
    transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    visibility: hidden;
    white-space: nowrap;
    width: 40px;
}

.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
    transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
}

.cd-top.cd-is-visible {
    /* the button becomes visible */
    opacity: 1;
    visibility: visible;
}

.cd-top.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: .5;
}

.no-touch .cd-top:hover {
    background-color: #333;
    opacity: 1;
}

@media only screen and (min-width: 768px) {
    .cd-top {
        bottom: 20px;
        right: 20px;
    }
}

@media only screen and (min-width: 1024px) {
    .cd-top {
        bottom: 30px;
        height: 60px;
        right: 30px;
        width: 60px;
    }
}

/* END ATTRIBUTION */

/*
██      ███████ ███████ ███████  ██████  ███    ██ ███████
██      ██      ██      ██      ██    ██ ████   ██ ██
██      █████   ███████ ███████ ██    ██ ██ ██  ██ ███████
██      ██           ██      ██ ██    ██ ██  ██ ██      ██
███████ ███████ ███████ ███████  ██████  ██   ████ ███████
*/

.lessonContainer {
    background-color: #0E2D4E;
    margin: auto;
    overflow: auto;
    width: 92%;
}

#local-nav {
    background-color: #333;
    border-color: #333;
    border-radius: 0;
    font-family: 'Source Code Pro';
    font-size: 1.2em;
}

#local-button {
    background-color: #E0E0E0;
}

#local-button:hover {
    background-color: #BDBDBD;
}

#local-nav > .localNav > ul > li > a {
    color: #19BBBC;
}

.localNav {
    margin: 0;
    padding: 0;
    width: 100%;
}

.localNavTitle {
    font-weight: bold;
    width: 100%;
}

.localNavDescription {
    font-style: italic;
    opacity: 0.6;
    width: 100%;
}

#local-nav > .localNav > ul > li.selected > a {
    color: #fdfdfd;
}

.fluid-container{
    padding: 15px 30px;
}

.selected .localNavTitle:before {
    color: #f6de89;
    content: " \B7 ";
    font-weight: 900;
    padding-right: 5px;
}

.not-selected::after {
    background: #BDBDBD;
    content: '';
    display: block;
    height: 2px;
    margin-top: 0;
    padding-top: 0;
    transition: width .3s;
    width: 0;

}

.not-selected:hover::after {
    width: 100%;
}

.lesson {
    background-color: white;
    padding: 0 10rem;
}

.lesson h1, .lesson h2, .lesson h3, .lesson h4, .lesson h5, .lesson h6 {
        color: #19BBBC;
}

.reference {
        background-color: white;
}

.videoFrame {
    height: 30rem;
    width: 60%;
}

@media (max-width: 1000px) {
    .videoFrame {
        height: 30rem;
        width: 100%;
    }
}

@media (max-width: 768px) {
    #local-nav {
        width: 100%;
    }

    .lesson {
        padding: 0 .5rem;
    }
}

/*
███████  ██████   ██████  ████████ ███████ ██████
██      ██    ██ ██    ██    ██    ██      ██   ██
█████   ██    ██ ██    ██    ██    █████   ██████
██      ██    ██ ██    ██    ██    ██      ██   ██
██       ██████   ██████     ██    ███████ ██   ██
*/

footer {
    background-color: #0c0c0c;
    color: white;
    float: left;
    overflow: auto;
    padding: 5rem 10rem;
    width: 100%;
}

footer > p {
    margin: 0;
    padding: 1rem;
    text-align: center;
}

footer div div:nth-child(n+2) {
    border-left: .1rem solid white;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

.footer-contact ul {
    margin: 0;
    padding: 0;
}

.footer-contact li {
    float: left;
    width: 33%;
}

footer .col-xs-6 {
    margin: 0;
    padding: 1rem 0;
}

@media (max-width: 600px) {
    footer {
        padding: 0;
    }
}
