/*
 ██████  ███████ ███    ██ ███████ ██████   █████  ██
██       ██      ████   ██ ██      ██   ██ ██   ██ ██
██   ███ █████   ██ ██  ██ █████   ██████  ███████ ██
██    ██ ██      ██  ██ ██ ██      ██   ██ ██   ██ ██
 ██████  ███████ ██   ████ ███████ ██   ██ ██   ██ ███████
*/

* {
    box-sizing: border-box;
    margin: 0;
}

.body-div {
    background-color: #212322;
}

.navbar-brand {
    margin: 0;
    padding: 0;
}

.navbar-brand img {
    max-height: 100%;
}

hr {
  margin-top: 0;
}

form {
    background-color: white;
    border: .2rem solid #0c0c0c;
    border-radius: 1rem;
    color: #0c0c0c;
    font-size: 1.8rem;
    margin: 1rem auto;
    overflow: auto;
    padding: .2rem 1rem 1rem 1rem;
    width: 40%;
}

input, textarea, select {
    border-radius: 1rem;
    padding: .2rem .5rem;
    width: 100%;
}

form div {
    text-align: center;
}

button, input[type="submit"] {
    background-color: #1E3D5E;
    border: .2rem solid #0c0c0c;
    border-radius: 1rem;
    color: #0c0c0c;
    margin-top: 1rem;
    padding: .5rem 1rem;
}

.formLink {
    margin-top: 2rem;
    width: 100%;
}

.formLink a:first-child {
    float: left;
}

.formLink a:nth-child(2) {
    float: right;
}

.navbar-nav > li > a.nav-a {
    color: #19BBBC;
}

.navbar {
    margin-bottom: 0 !important;
}

.info {
    background-color: blue;
}

.error {
    background-color: red;
}

.backgroundShadow {
    position: fixed;
    z-index:9999;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,.5);
}

.messages {
    position: fixed;
    top:20%;
    left:30%;
    right: 30%;
}

.messages li {
    padding: 1rem;
    color: white;
    font-size: 4rem;
    text-align: center;
    border: .2rem solid white;
}

.messages a {
    float:right;
    color: black;
}

/*
███████ ██████  ██       █████  ███████ ██   ██     ██████   █████   ██████  ███████
██      ██   ██ ██      ██   ██ ██      ██   ██     ██   ██ ██   ██ ██       ██
███████ ██████  ██      ███████ ███████ ███████     ██████  ███████ ██   ███ █████
     ██ ██      ██      ██   ██      ██ ██   ██     ██      ██   ██ ██    ██ ██
███████ ██      ███████ ██   ██ ███████ ██   ██     ██      ██   ██  ██████  ███████
*/

.splash {
    background-color: #fdfdfd;
    display: block;
    height: auto;
    margin: 3em auto;
    max-width: 400px;
    text-align: center;
    width: 100%;
}

.btn {
    margin-right: .5em;
}

.btn-sign {
    background-color: #19BBBC;
    color: #fdfdfd;
}

/*
██      ███████ ███████ ███████  ██████  ███    ██ ███████
██      ██      ██      ██      ██    ██ ████   ██ ██
██      █████   ███████ ███████ ██    ██ ██ ██  ██ ███████
██      ██           ██      ██ ██    ██ ██  ██ ██      ██
███████ ███████ ███████ ███████  ██████  ██   ████ ███████
*/

.lessonContainer {
    background-color: #0E2D4E;
    margin: auto;
    overflow: auto;
    width: 92%;
}

#local-nav {
    background-color: #333;
    border-color: #333;
    border-radius: 0;
    font-family: 'Source Code Pro';
    font-size: 1.2em;
}

#local-button {
    background-color: #E0E0E0;
}

#local-button:hover {
    background-color: #BDBDBD;
}

#local-nav > .localNav > ul > li > a {
    color: #19BBBC;
}

.localNav {
    margin: 0;
    padding: 0;
    width: 100%;
}

.localNavTitle {
    font-weight: bold;
    width: 100%;
}

.localNavDescription {
    font-style: italic;
    opacity: 0.6;
    width: 100%;
}

#local-nav > .localNav > ul > li.selected > a {
    color: #fdfdfd;
}

.selected .localNavTitle:before {
    color: #f6de89;
    content: " \B7 ";
    font-weight: 900;
    padding-right: 5px;
}

.not-selected::after {
    background: #BDBDBD;
    content: '';
    display: block;
    height: 2px;
    margin-top: 0;
    padding-top: 0;
    transition: width .3s;
    width: 0;

}

.not-selected:hover::after {
    width: 100%;
}

.lesson {
    background-color: white;
    padding: 0 10rem;
}

.lesson h1, .lesson h2, .lesson h3, .lesson h4, .lesson h5, .lesson h6 {
    color: #19BBBC;
}

.reference {
    background-color: white;
}

/*
███████  ██████   ██████  ████████ ███████ ██████
██      ██    ██ ██    ██    ██    ██      ██   ██
█████   ██    ██ ██    ██    ██    █████   ██████
██      ██    ██ ██    ██    ██    ██      ██   ██
██       ██████   ██████     ██    ███████ ██   ██
*/

footer {
    background-color: #0c0c0c;
    color: white;
    float: left;
    overflow: auto;
    padding: 5rem 10rem;
    width: 100%;
}

footer > p {
    margin: 0;
    padding: 1rem;
    text-align: center;
}

footer div div:nth-child(n+2) {
    border-left: .1rem solid white;
}
