* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    background-color: #212322;
}

.navbar-nav > li > a {
    color: #19BBBC !important;
}

.navbar {
    margin-bottom: 0 !important;
}


.lessonContainer {
    background-color: #0E2D4E;
    width: 92%;
    margin: auto;
    overflow: auto;
}

.localNav * {
    color:#E5E5E5;
}

.lesson {
    background-color: white;
    padding: 0 10rem;
}

.lesson h1, .lesson h2, .lesson h3, .lesson h4, .lesson h5, .lesson h6 {
    color:#19BBBC;
}


footer {
    background-color: #0c0c0c;
    color: white;
    padding: 5rem 10rem;
    overflow: auto;
    float: left;
    width: 100%;
}

footer > p {
    margin: 0;
    padding: 1rem;
    text-align: center;
}

footer div div:nth-child(n+2) {
    border-left: .1rem solid white;
}