{% extends "main_layout.html" %}

{% load staticfiles %}

{% block title %}
IrregEx: Home
{% endblock %}

{% block content %}
<div class="splash">
    <img class="splash" src="/static/large_logo.png" alt="The IrregEx Logo">
    <h1>Irregular Expressions</h1>
    <p>We strive to provide a simple, concise way for students of any level to learn about regular expressions through
        video, games, practice problems, and more!</p>
    <a href="/about_us" class="btn btn-default" role="button">Learn More</a>
    <a href="/register" class="btn btn-sign" role="button">Sign Up</a>
</div>
{% endblock %}

{% block footer %}
<footer>
    <p>Copyright 2016</p>
</footer>
{% endblock %}
