{% extends "base.html" %}

{% load staticfiles %}

{% block nav %}
<header class="">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="fluid-container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="/static/logo.png" alt="The IrregEx Logo"></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="nav-a" href="/lessons">Lessons</a></li>
                    <li><a class="nav-a" href="/reference">Quick Reference</a></li>
                    <li><a class="nav-a" href="/faq">FAQ</a></li>
                    <li><a class="nav-a" href="/forum">Forum</a></li>
                    <li><a class="nav-a" href="/language_specific">Language Specific</a></li>
                    {% if user.is_authenticated %}
                    <li>
                        <a class="nav-a dropdown dropdown-toggle" role="button" id="navDropdown" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="true">{{ user.username }} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navDropdown">
                            <li><a href="/dashboard">Dashboard</a></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li><a class="nav-a" href="/login">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
{% endblock %}

{% block body %}
<div class="lessonContainer">
    {% endblock %}

    {% block footer %}
</div>
<footer class="col-xs-12">
    <div class="col-sm-6 col-md-7">
        <ul>
            <li class="col-xs-6 col-sm-4">
                <h5>Company</h5>
                <ul>
                    <li><a href="/about_us">About Us</a></li>
                    <li><a href="/meet_the_team">Meet the Team</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                </ul>
            </li>
            <li class="col-xs-6 col-sm-4">
                <h5>Account</h5>
                <ul>
                    <li>Support</li>
                    <li>Payments</li>
                    <li>Subscription</li>
                </ul>
            </li>
            <li class="col-xs-6 col-sm-4">
                <h5>Legal</h5>
                <ul>
                    <li>Copyright Notice</li>
                    <li>License</li>
                    <li>User Agreement</li>
                </ul>
            </li>
        </ul>

    </div>
    <div class="col-xs-6 col-sm-3 col-md-2 footer-contact">
        <p><img src="/static/phone-icon.png" alt="Phone"> 1-800-555-1234</p>
        <p><img src="/static/mail-icon.png" alt="Mail"> info@irregex.com</p>
        <ul>
            <li><a target="_blank" href="https://www.facebook.com/irregex"><img src="/static/facebook-icon.png"
                                                                                alt="Facebook Logo"></a></li>
            <li><a target="_blank" href="https://www.twitter.com/irregexlearn"><img src="/static/twitter-icon.png"
                                                                                    alt="Twitter Logo" class=""></a>
            </li>
            <li><a target="_blank" href="https://www.instagram.com/irregex"><img src="/static/instagram-icon.png"
                                                                                 alt="Instagram Logo" class=""></a></li>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-3 footer-copy">
        <p>Copyright &copy; IrregEx Inc. 2016</p>
        <p>1234 Street Ave, Rochester, NY, 14623</p>
    </div>
</footer>
{% endblock %}
